SOAPClient/App_WebReferences/ServiceReference2/Asesores22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOAPServicesADONet.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOAPServicesADONet.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Asesor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sede" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Asesor" nillable="true" type="tns:Asesor" />
  <xs:complexType name="ArrayOfAsesor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Asesor" nillable="true" type="tns:Asesor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAsesor" nillable="true" type="tns:ArrayOfAsesor" />
</xs:schema>