SOAPClient/App_WebReferences/ServiceReference2/Asesores2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:44906/Asesores2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOAPServicesADONet.Entidades" />
  <xs:element name="InsertarAsesor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SOAPServicesADONet.Entidades" minOccurs="0" name="asesor" nillable="true" type="q1:Asesor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarAsesorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarAsesorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAsesor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAsesorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SOAPServicesADONet.Entidades" minOccurs="0" name="ObtenerAsesorResult" nillable="true" type="q2:Asesor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarAsesor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SOAPServicesADONet.Entidades" minOccurs="0" name="asesor" nillable="true" type="q3:Asesor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarAsesorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarAsesorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAsesor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAsesorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAsesores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAsesoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SOAPServicesADONet.Entidades" minOccurs="0" name="ListarAsesoresResult" nillable="true" type="q4:ArrayOfAsesor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>