SOAPClient/App_WebReferences/ServiceReference3/Sede21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:44906/Sede2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOAPServicesADONet.Entidades" />
  <xs:element name="listarSedes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarSedesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SOAPServicesADONet.Entidades" minOccurs="0" name="listarSedesResult" nillable="true" type="q1:ArrayOfSede" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>